//- layout.pug
doctype html

html
  head
    title (Shreya)^2 Dance Academy
    block scripts
      script(src='/jquery.js')
    block style 
       
  body
    nav#navBar
      ul 
        #logo 
          img(src="/static/101.png")
        li #[a(href="/") Home]
        li #[a(href="/reachUs") Reach Us]
        li #[a(href="/service") Services]
        li #[a(href="/aboutOurClasses") About Our Classes]
        li #[a(href="/contact") Contact Us]
    block content
    footer#footer     
      |Copyright © 2022 (Shreya)^2_Dance_Academy.com | All rights reserved