extends base.pug 
block scripts 
  script(src='/static/index.js')
block style 
  style
    include ../static/style.css
    include ../static/stylereach.css
    
    
    
block content 
  div.reach
    div.mail 
      |&#9993; 
      |shreya2DanceAcademy@gmail.com
    div.mail &#9742; Contact No.333-3333333
    div.mail 
      h3 Ghaziabad Branch
      br
      |2nd & 3rd Floor, Plot No. 9, 
      br
      |Kaushambi Commercial Area,
      br
      |Ghaziabad, Uttar Pradesh 201014
    div.mail 
      h3 Mayur Vihar Branch
      br
      |A-5/163, Third & Fourth Floor,
      br
      |Above First Cry, Mayur Vihar Phase 1,
      br
      |New Delhi 110091
    div.mail 
      h3 Mumbai Branch
      br
      |Lashkaria Green Heights,
      br
      |Andheri West, Mumbai,
      br
      |Maharashtra 400053










      




