extends base.pug 
block scripts 
  script(src='/static/index.js')
block style 
  style
    include ../static/style.css
    include ../static/styleServices.css
    
    
    
block content 
  
  div.video
    video(controls='' muted='' autoplay='')
      source(src='/static/video1.mp4' type='video/mp4')
    .cardVideo
      h1 Services
      .text1 (Shreya)^2 Dance Academy is one of Los Angeles’ premier dance schools, celebrating the art of dance for the past 50 years with the finest in pre-ballet, classical ballet, pointe, lyrical, contemporary, jazz, tap and hip hop instruction.  
      .text2 The focus of training is on the mastery and joy of dance at each level of achievement.
  